/* line 1, ../sass/components/_style.sass */
html,
body,
.row-fluid {
  height: 100%;
}

/* line 7, ../sass/components/_style.sass */
.row-fluid {
  margin-top: 40px;
}

/* line 10, ../sass/components/_style.sass */
.main-content {
  height: 100%;
  width: 100%;
}

/* line 15, ../sass/components/_style.sass */
#map {
  height: 100%;
  width: 100%;
}

/* line 20, ../sass/components/_style.sass */
#results {
  padding-bottom: 50%;
}
/* line 25, ../sass/components/_style.sass */
#results .item .not-primary {
  display: none;
}
/* line 28, ../sass/components/_style.sass */
#results .item .static-marker {
  position: absolute;
  left: inherit;
  top: inherit;
}
/* line 33, ../sass/components/_style.sass */
#results .item .summary {
  margin-left: 40px;
}
/* line 36, ../sass/components/_style.sass */
#results .item.active {
  background: #eef5fb;
}
/* line 39, ../sass/components/_style.sass */
#results .item.active .not-primary {
  display: block;
}

/* line 44, ../sass/components/_style.sass */
#tabs a {
  font-weight: bold;
}
/* line 47, ../sass/components/_style.sass */
#tabs a.tab-orange {
  color: #f59630;
}
/* line 49, ../sass/components/_style.sass */
#tabs a.tab-green {
  color: #72af26;
}
/* line 51, ../sass/components/_style.sass */
#tabs a.tab-purple {
  color: #d252b9;
}
/* line 53, ../sass/components/_style.sass */
#tabs a.tab-red {
  color: #d53e2a;
}
/* line 55, ../sass/components/_style.sass */
#tabs a.tab-blue {
  color: #37a8da;
}
/* line 57, ../sass/components/_style.sass */
#tabs a.tab-darkblue {
  color: #0066a3;
}
/* line 59, ../sass/components/_style.sass */
#tabs a.tab-cadetblue {
  color: #426877;
}
/* line 62, ../sass/components/_style.sass */
#tabs a.active {
  color: white;
}
/* line 65, ../sass/components/_style.sass */
#tabs a.active.tab-orange {
  background-color: #f59630;
}
/* line 67, ../sass/components/_style.sass */
#tabs a.active.tab-green {
  background-color: #72af26;
}
/* line 69, ../sass/components/_style.sass */
#tabs a.active.tab-purple {
  background-color: #d252b9;
}
/* line 71, ../sass/components/_style.sass */
#tabs a.active.tab-red {
  background-color: #d53e2a;
}
/* line 73, ../sass/components/_style.sass */
#tabs a.active.tab-blue {
  background-color: #37a8da;
}
/* line 75, ../sass/components/_style.sass */
#tabs a.active.tab-darkblue {
  background-color: #0066a3;
}
/* line 77, ../sass/components/_style.sass */
#tabs a.active.tab-cadetblue {
  background-color: #426877;
}

@font-face {
  font-family: "fontawesome";
  src: url("/fonts/fontawesome.eot");
  src: url("/fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("/fonts/fontawesome.woff") format("woff"), url("/fonts/fontawesome.ttf") format("truetype"), url("/fonts/fontawesome.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 11, ../sass/includes/_icons.sass */
[data-icon]:before {
  font-family: "fontawesome";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*Instead of a list of all class selectors,
 *you can use the generic selector below, but it's slower:
 *[class*="icon-"] { */
/* line 27, ../sass/includes/_icons.sass */
.icon-user, .icon-caret-down, .icon-remove {
  font-family: "fontawesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 37, ../sass/includes/_icons.sass */
.icon-user:before {
  content: "\f007";
}

/* line 40, ../sass/includes/_icons.sass */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 43, ../sass/includes/_icons.sass */
.icon-remove:before {
  content: "\f00d";
}

/* line 1, ../sass/includes/_style.sass */
.main-content {
  position: fixed;
  left: 23.07692%;
}

/* line 5, ../sass/includes/_style.sass */
.right-sidebar {
  right: 0;
  position: fixed;
}

/* line 10, ../sass/includes/_style.sass */
.left-sidebar .item.active {
  background-color: blue;
}
