/* line 3, ../sass/components/_filters.sass */
#filters .accordion-group,
#filters .accordion-inner {
  border: none;
}
/* line 7, ../sass/components/_filters.sass */
#filters .accordion-heading {
  font-family: adelle, Baskerville, "Droid Serif", serif;
  font-weight: bold;
  background-color: #eef5fb;
  margin: 5px;
  padding: 5px 0;
}
/* line 13, ../sass/components/_filters.sass */
#filters .accordion-heading a {
  text-decoration: none;
}
/* line 16, ../sass/components/_filters.sass */
#filters .accordion-heading a:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  float: right;
  font-size: 20px;
  content: "\f0d7";
}
/* line 22, ../sass/components/_filters.sass */
#filters .accordion-heading a.collapsed:after {
  content: "\f0da";
}
/* line 25, ../sass/components/_filters.sass */
#filters .accordion-body.in {
  overflow: visible;
}
/* line 28, ../sass/components/_filters.sass */
#filters .accordion-body.in#advanced {
  padding-bottom: 20px;
}
/* line 32, ../sass/components/_filters.sass */
#filters #tabs ul {
  margin-bottom: 0;
}
/* line 35, ../sass/components/_filters.sass */
#filters #tabs a {
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  line-height: 24px;
  margin-bottom: 0.75em;
}
/* line 42, ../sass/components/_filters.sass */
#filters #tabs a.tab-orange {
  color: #f59630;
}
/* line 44, ../sass/components/_filters.sass */
#filters #tabs a.tab-green {
  color: #72af26;
}
/* line 46, ../sass/components/_filters.sass */
#filters #tabs a.tab-purple {
  color: #d252b9;
}
/* line 48, ../sass/components/_filters.sass */
#filters #tabs a.tab-red {
  color: #d53e2a;
}
/* line 50, ../sass/components/_filters.sass */
#filters #tabs a.tab-blue {
  color: #37a8da;
}
/* line 52, ../sass/components/_filters.sass */
#filters #tabs a.tab-darkblue {
  color: #0066a3;
}
/* line 54, ../sass/components/_filters.sass */
#filters #tabs a.tab-cadetblue {
  color: #426877;
}
/* line 57, ../sass/components/_filters.sass */
#filters #tabs a.active {
  color: white;
}
/* line 60, ../sass/components/_filters.sass */
#filters #tabs a.active.tab-orange {
  background-color: #f59630;
}
/* line 62, ../sass/components/_filters.sass */
#filters #tabs a.active.tab-green {
  background-color: #72af26;
}
/* line 64, ../sass/components/_filters.sass */
#filters #tabs a.active.tab-purple {
  background-color: #d252b9;
}
/* line 66, ../sass/components/_filters.sass */
#filters #tabs a.active.tab-red {
  background-color: #d53e2a;
}
/* line 68, ../sass/components/_filters.sass */
#filters #tabs a.active.tab-blue {
  background-color: #37a8da;
}
/* line 70, ../sass/components/_filters.sass */
#filters #tabs a.active.tab-darkblue {
  background-color: #0066a3;
}
/* line 72, ../sass/components/_filters.sass */
#filters #tabs a.active.tab-cadetblue {
  background-color: #426877;
}
/* line 75, ../sass/components/_filters.sass */
#filters #tabs a i {
  font-size: 24px;
  width: 24px;
  height: 24px;
  background: none;
  margin-top: -4px;
  margin-right: 5px;
}
/* line 84, ../sass/components/_filters.sass */
#filters #advanced .accordion-inner {
  min-height: 575px;
}
/* line 88, ../sass/components/_filters.sass */
#filters .text-search {
  width: 178px;
}
/* line 91, ../sass/components/_filters.sass */
#filters .dropdown-menu {
  right: -20px;
}
/* line 95, ../sass/components/_filters.sass */
#filters .dropdown-menu li a {
  padding-left: 1.5em;
  text-indent: -1em;
  position: relative;
}
/* line 100, ../sass/components/_filters.sass */
#filters .dropdown-menu li a span.text {
  white-space: normal;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.4em;
}
/* line 108, ../sass/components/_filters.sass */
#filters .dropdown-menu li a i {
  position: absolute;
  top: 0;
  right: 5px;
}
/* line 113, ../sass/components/_filters.sass */
#filters .submit-btns {
  margin-top: 2em;
}
/* line 116, ../sass/components/_filters.sass */
#filters .submit-btns .btn-reset {
  margin-left: 1em;
}

/* line 1, ../sass/components/_header.sass */
.row-fluid {
  padding-top: 66px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/components/_header.sass */
.navbar {
  background-color: #275387;
  border-bottom: 2px solid #cccccc;
  height: 64px;
}
/* line 10, ../sass/components/_header.sass */
.navbar .brand {
  padding-top: 13px;
}
/* line 13, ../sass/components/_header.sass */
.navbar .links {
  margin-top: 12.5px;
}
/* line 16, ../sass/components/_header.sass */
.navbar .links .btn {
  margin-top: 1px;
}
/* line 19, ../sass/components/_header.sass */
.navbar .links .nav a {
  font-family: adelle, Baskerville, "Droid Serif", serif;
  font-weight: bold;
  color: white !important;
  text-shadow: none;
}

/* line 1, ../sass/components/_map.sass */
#map {
  z-index: 0;
}
/* line 4, ../sass/components/_map.sass */
#map #geocode {
  z-index: 3;
}

/* line 7, ../sass/components/_map.sass */
.leaflet-top.leaflet-left {
  width: 100%;
  margin-left: 50px;
}
/* line 11, ../sass/components/_map.sass */
.leaflet-top.leaflet-left div.leaflet-control-geosearch {
  background-color: white;
  float: left;
  width: auto;
  padding: 0;
  margin-right: 1em;
  width: 350px;
  height: 38px;
  border: 1px solid #f59630 !important;
  -webkit-box-shadow: inset 0 1px 4px #cccccc;
  -moz-box-shadow: inset 0 1px 4px #cccccc;
  box-shadow: inset 0 1px 4px #cccccc;
  z-index: 4;
}
/* line 23, ../sass/components/_map.sass */
.leaflet-top.leaflet-left div.leaflet-control-geosearch a:hover {
  background-color: white;
}
/* line 26, ../sass/components/_map.sass */
.leaflet-top.leaflet-left div.leaflet-control-geosearch form.displayNone {
  display: block;
}
/* line 29, ../sass/components/_map.sass */
.leaflet-top.leaflet-left div.leaflet-control-geosearch form {
  background: transparent;
}
/* line 32, ../sass/components/_map.sass */
.leaflet-top.leaflet-left div.leaflet-control-geosearch form input {
  height: 26px;
  margin-top: 2px;
  background: transparent;
  width: 290px;
  float: left;
  margin-right: 10px;
  width: 90%;
}
/* line 41, ../sass/components/_map.sass */
.leaflet-top.leaflet-left div.leaflet-control-geosearch .leaflet-geosearch-autocomplete {
  position: absolute;
}
/* line 44, ../sass/components/_map.sass */
.leaflet-top.leaflet-left div.leaflet-control-geosearch .leaflet-geosearch-message {
  top: 38px;
}
/* line 47, ../sass/components/_map.sass */
.leaflet-top.leaflet-left div.leaflet-control-geosearch a.leaflet-bar-part {
  top: 6px;
  background-color: transparent;
}
/* line 52, ../sass/components/_map.sass */
.leaflet-top.leaflet-left div.leaflet-control-geosearch #leaflet-control-geosearch-submit i {
  margin: 0;
}
/* line 55, ../sass/components/_map.sass */
.leaflet-top.leaflet-left .leaflet-control-locate {
  clear: none;
}
/* line 58, ../sass/components/_map.sass */
.leaflet-top.leaflet-left .leaflet-control-zoom {
  position: absolute;
  left: -45px;
}

/* line 63, ../sass/components/_map.sass */
.leaflet-container {
  font-family: "open-sans", Helvetica, "Droid Sans", sans-serif;
  font-size: 14px;
}
/* line 67, ../sass/components/_map.sass */
.leaflet-container .leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 71, ../sass/components/_map.sass */
.leaflet-container .leaflet-popup-content-wrapper .fields .title {
  width: 4.5em;
}
/* line 74, ../sass/components/_map.sass */
.leaflet-container .leaflet-popup-content-wrapper .fields .value {
  margin-left: 5.5em;
}

/* line 1, ../sass/components/_overlay.sass */
#mapOverlay,
#about {
  display: none;
}

/* line 5, ../sass/components/_overlay.sass */
#mapOverlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity, 5s;
  -moz-transition: opacity, 5s;
  -o-transition: opacity, 5s;
  transition: opacity, 5s;
}

/* line 11, ../sass/components/_overlay.sass */
.overlay-active #mapOverlay,
.overlay-active #about {
  display: block;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 20, ../sass/components/_overlay.sass */
.overlay-active #mapOverlay {
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  width: 100%;
}
/* line 25, ../sass/components/_overlay.sass */
.overlay-active #about {
  padding: 3em 0 3em 7em;
  max-width: 800px;
}
/* line 29, ../sass/components/_overlay.sass */
.overlay-active #about .summary {
  margin-top: 8.5em;
}
/* line 32, ../sass/components/_overlay.sass */
.overlay-active #about .summary p {
  font-size: 13px;
}
/* line 35, ../sass/components/_overlay.sass */
.overlay-active #about .summary .app-icons {
  margin-bottom: 2em;
}
/* line 38, ../sass/components/_overlay.sass */
.overlay-active #about .summary .logos {
  margin: 0;
}
/* line 41, ../sass/components/_overlay.sass */
.overlay-active #about .summary .logos li {
  float: left;
  list-style: none;
  margin-right: 20px;
}
/* line 87, ../sass/_mixins.sass */
.overlay-active #about .summary .logos li a {
  display: block;
  height: 100px;
  text-indent: -1000em;
  overflow: hidden;
  background: url(../images/sponsors.png) 0 0 no-repeat;
  background-size: 589px auto;
}
/* line 95, ../sass/_mixins.sass */
.overlay-active #about .summary .logos li a.cchi {
  width: 72px;
}
/* line 98, ../sass/_mixins.sass */
.overlay-active #about .summary .logos li a.caring {
  width: 130px;
  background-position: -100px 0;
}
/* line 102, ../sass/_mixins.sass */
.overlay-active #about .summary .logos li a.piton {
  width: 140px;
  background-position: -250px 0;
}
/* line 106, ../sass/_mixins.sass */
.overlay-active #about .summary .logos li a.connect {
  width: 180px;
  background-position: -410px 0;
}
/* line 48, ../sass/components/_overlay.sass */
.overlay-active #map {
  border-right: none !important;
}
/* line 51, ../sass/components/_overlay.sass */
.overlay-active #map .leaflet-top.leaflet-left {
  margin-left: 7em;
  margin-top: 9em;
  width: 120%;
}
/* line 56, ../sass/components/_overlay.sass */
.overlay-active #map .leaflet-top.leaflet-left .leaflet-control-zoom {
  display: none;
}

@media screen and (min-width: 620px) {
  /* line 2, ../sass/components/_responsive-desktop.sass */
  .no-desktop {
    display: none;
  }

  /* line 5, ../sass/components/_responsive-desktop.sass */
  html {
    font-family: "desktop";
  }
  /* line 8, ../sass/components/_responsive-desktop.sass */
  html body:after {
    content: "desktop";
    display: none;
  }

  /* line 12, ../sass/components/_responsive-desktop.sass */
  html,
  body,
  .row-fluid {
    height: 100%;
    overflow: hidden;
  }

  /* line 18, ../sass/components/_responsive-desktop.sass */
  .main-content {
    position: fixed;
    height: 100%;
    right: 0;
    left: 0;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
    overflow: hidden;
  }
  /* line 26, ../sass/components/_responsive-desktop.sass */
  .main-content #map {
    height: 100%;
  }

  /* line 29, ../sass/components/_responsive-desktop.sass */
  .left-sidebar,
  .right-sidebar {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* line 35, ../sass/components/_responsive-desktop.sass */
  .left-sidebar {
    width: 0;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
    position: absolute;
    left: -320px;
    width: 320px;
    background-color: white;
    border-right: 2px solid #cccccc;
    height: 100%;
  }

  /* line 45, ../sass/components/_responsive-desktop.sass */
  .right-sidebar {
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
    right: -260px;
    width: 260px;
    position: fixed;
    background-color: white;
  }

  /* line 55, ../sass/components/_responsive-desktop.sass */
  .left-sidebar-active .main-content {
    left: 320px;
  }
  /* line 62, ../sass/components/_responsive-desktop.sass */
  .left-sidebar-active .left-sidebar {
    left: 0;
  }

  /* line 68, ../sass/components/_responsive-desktop.sass */
  .right-sidebar-active .main-content {
    right: 260px;
  }
  /* line 71, ../sass/components/_responsive-desktop.sass */
  .right-sidebar-active .main-content #map {
    border-right: 2px solid #cccccc;
  }
  /* line 74, ../sass/components/_responsive-desktop.sass */
  .right-sidebar-active .right-sidebar {
    right: 0;
  }
}
@media screen and (min-width: 620px) and (max-width: 900px) {
  /* line 79, ../sass/components/_responsive-desktop.sass */
  #geocode {
    clear: left !important;
    margin-top: 0;
  }

  /* line 83, ../sass/components/_responsive-desktop.sass */
  #about p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 620px) {
  /* line 3, ../sass/components/_responsive-mobile.sass */
  .no-mobile {
    display: none;
  }

  /* line 6, ../sass/components/_responsive-mobile.sass */
  html {
    font-family: "mobile";
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
  }
  /* line 12, ../sass/components/_responsive-mobile.sass */
  html body:after {
    content: "mobile";
    display: none;
  }

  /* line 16, ../sass/components/_responsive-mobile.sass */
  button {
    cursor: pointer !important;
  }

  /* line 19, ../sass/components/_responsive-mobile.sass */
  html,
  body,
  .main-content {
    height: 100%;
    padding: 0;
  }

  /* line 25, ../sass/components/_responsive-mobile.sass */
  .row-fluid {
    position: relative;
    width: 100%;
    height: 100%;
  }

  /* line 31, ../sass/components/_responsive-mobile.sass */
  .navbar .nav,
  #showFilters span {
    display: none;
  }

  /* line 35, ../sass/components/_responsive-mobile.sass */
  .navbar {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  /* line 40, ../sass/components/_responsive-mobile.sass */
  .navbar .container-fluid {
    padding: 0;
  }
  /* line 43, ../sass/components/_responsive-mobile.sass */
  .navbar .brand img {
    max-width: 140px;
    margin-top: 4px;
    height: auto;
    margin-left: 10px;
  }
  /* line 49, ../sass/components/_responsive-mobile.sass */
  .navbar .links {
    margin-right: 10px;
  }
  /* line 52, ../sass/components/_responsive-mobile.sass */
  .navbar .links i {
    margin-right: 0;
  }
  /* line 55, ../sass/components/_responsive-mobile.sass */
  .navbar .links #showLocate {
    margin-right: 15px;
  }

  /* line 59, ../sass/components/_responsive-mobile.sass */
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 30px;
    width: 100%;
  }

  /* line 81, ../sass/components/_responsive-mobile.sass */
  .main-content {
    top: 64px;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
  }
  /* line 88, ../sass/components/_responsive-mobile.sass */
  .main-content #map {
    width: 100%;
    height: 100%;
  }
  /* line 92, ../sass/components/_responsive-mobile.sass */
  .main-content .leaflet-top.leaflet-left {
    width: 80%;
  }
  /* line 95, ../sass/components/_responsive-mobile.sass */
  .locate-active .main-content .leaflet-top.leaflet-left {
    display: block;
  }
  /* line 98, ../sass/components/_responsive-mobile.sass */
  .main-content .leaflet-top.leaflet-left div.leaflet-control-geosearch {
    width: 100%;
  }
  /* line 101, ../sass/components/_responsive-mobile.sass */
  .main-content .leaflet-top.leaflet-left #leaflet-control-geosearch-submit {
    position: absolute;
    top: 0;
    right: 0;
  }
  /* line 106, ../sass/components/_responsive-mobile.sass */
  .main-content .leaflet-top.leaflet-left .leaflet-control-locate {
    width: 100%;
  }

  /* line 110, ../sass/components/_responsive-mobile.sass */
  .left-sidebar {
    position: relative;
    top: 100%;
    z-index: 100;
    background-color: white;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
  }
  /* line 117, ../sass/components/_responsive-mobile.sass */
  .left-sidebar #results {
    padding-bottom: 4em;
  }
  /* line 120, ../sass/components/_responsive-mobile.sass */
  .left-sidebar #results .pagination {
    margin: 0.5em 0 0 0;
  }
  /* line 124, ../sass/components/_responsive-mobile.sass */
  .left-sidebar #results .pagination:first-child + .item {
    padding-top: 0;
  }
  /* line 127, ../sass/components/_responsive-mobile.sass */
  .left-sidebar #results .pagination:first-child ul {
    display: none;
  }

  /* line 130, ../sass/components/_responsive-mobile.sass */
  .right-sidebar {
    left: -280px;
    top: 10px;
    position: absolute;
    width: 280px;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
    background-color: white;
  }

  /* line 140, ../sass/components/_responsive-mobile.sass */
  .left-sidebar-active:not(.loading) .left-sidebar {
    top: 80%;
  }
  /* line 143, ../sass/components/_responsive-mobile.sass */
  .left-sidebar-active:not(.loading) .main-content {
    height: 80%;
  }

  /* line 150, ../sass/components/_responsive-mobile.sass */
  .right-sidebar-active .main-content,
  .right-sidebar-active .left-sidebar {
    left: 280px;
  }
  /* line 154, ../sass/components/_responsive-mobile.sass */
  .right-sidebar-active .right-sidebar {
    left: 0;
  }

  /* line 160, ../sass/components/_responsive-mobile.sass */
  .overlay-active .main-content {
    height: auto;
  }
  /* line 163, ../sass/components/_responsive-mobile.sass */
  .overlay-active #map {
    position: static !important;
  }
  /* line 166, ../sass/components/_responsive-mobile.sass */
  .overlay-active #map .leaflet-map-pane {
    display: none;
  }
  /* line 169, ../sass/components/_responsive-mobile.sass */
  .overlay-active #map .leaflet-top.leaflet-left {
    margin-left: 1.8em;
    width: 80%;
  }
  /* line 173, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about {
    padding: 1em 2em;
    height: auto;
  }
  /* line 177, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about h2 {
    font-size: 24px;
  }
  /* line 180, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about .summary .logos {
    margin: 0 -1em;
  }
  /* line 183, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about .summary .logos li {
    margin-right: 5px;
    width: 45%;
  }
  /* line 87, ../sass/_mixins.sass */
  .overlay-active #about .summary .logos li a {
    display: block;
    height: 70px;
    text-indent: -1000em;
    overflow: hidden;
    background: url(../images/sponsors.png) 0 0 no-repeat;
    background-size: 412.3px auto;
  }
  /* line 95, ../sass/_mixins.sass */
  .overlay-active #about .summary .logos li a.cchi {
    width: 50.4px;
  }
  /* line 98, ../sass/_mixins.sass */
  .overlay-active #about .summary .logos li a.caring {
    width: 91px;
    background-position: -70px 0;
  }
  /* line 102, ../sass/_mixins.sass */
  .overlay-active #about .summary .logos li a.piton {
    width: 98px;
    background-position: -175px 0;
  }
  /* line 106, ../sass/_mixins.sass */
  .overlay-active #about .summary .logos li a.connect {
    width: 126.0px;
    background-position: -287px 0;
  }
  /* line 188, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about .summary .logos li a {
    margin: 0 auto;
  }
  /* line 191, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about .supported {
    text-align: center;
    font-style: italic;
    padding-top: 2em;
  }
  /* line 196, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about .leaflet-top.leaflet-left {
    margin-left: 0;
    top: 9em;
    display: block;
    position: absolute;
    width: auto;
    left: 2em;
    right: 2em;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 207, ../sass/components/_responsive-mobile.sass */
  .overlay-active #showLocate,
  .overlay-active #mapOverlay,
  .overlay-active .left-sidebar {
    display: none;
  }

  /* line 213, ../sass/components/_responsive-mobile.sass */
  .leaflet-top.leaflet-left div.leaflet-control-geosearch,
  .leaflet-top.leaflet-left #geocode {
    display: none;
  }

  /* line 220, ../sass/components/_responsive-mobile.sass */
  .locate-active .leaflet-top.leaflet-left div.leaflet-control-geosearch,
  .locate-active .leaflet-top.leaflet-left #geocode,
  .overlay-active .leaflet-top.leaflet-left div.leaflet-control-geosearch,
  .overlay-active .leaflet-top.leaflet-left #geocode {
    display: block;
  }
}
@media only screen and (device-width: 320px) and (device-height: 480px) {
  /* line 233, ../sass/components/_responsive-mobile.sass */
  .left-sidebar-active .left-sidebar {
    top: 0 !important;
    margin-top: 280px;
  }

  /* line 239, ../sass/components/_responsive-mobile.sass */
  .leaflet-top.leaflet-left div.leaflet-control-geosearch form input {
    margin-top: 0;
  }
  /* line 242, ../sass/components/_responsive-mobile.sass */
  .leaflet-top.leaflet-left div.leaflet-control-geosearch a.leaflet-bar-part {
    top: 4px;
  }
}
@media only screen and (device-width: 320px) and (device-height: 568px) {
  /* line 246, ../sass/components/_responsive-mobile.sass */
  .left-sidebar-active .left-sidebar {
    top: 0 !important;
    margin-top: 340px;
  }

  /* line 252, ../sass/components/_responsive-mobile.sass */
  .leaflet-top.leaflet-left div.leaflet-control-geosearch form input {
    margin-top: 0;
  }
  /* line 255, ../sass/components/_responsive-mobile.sass */
  .leaflet-top.leaflet-left div.leaflet-control-geosearch a.leaflet-bar-part {
    top: 4px;
  }
}
/* line 1, ../sass/components/_results.sass */
#results {
  padding: 5px;
}
/* line 4, ../sass/components/_results.sass */
#results .pagination {
  text-align: center;
  margin: 0;
}
/* line 8, ../sass/components/_results.sass */
#results .pagination .result-summary {
  margin-bottom: 0.5em;
}
/* line 11, ../sass/components/_results.sass */
#results .result-summary {
  color: #999999;
  font-size: 0.9em;
  font-style: italic;
}
/* line 17, ../sass/components/_results.sass */
#results .item {
  padding: 1em 5px;
  margin-top: 10px;
  position: relative;
}
/* line 23, ../sass/components/_results.sass */
#results .item h3 a {
  text-decoration: none;
}
/* line 26, ../sass/components/_results.sass */
#results .item h3 span {
  color: #cccccc;
  font-family: "open-sans", Helvetica, "Droid Sans", sans-serif;
  font-size: 0.8em;
}
/* line 31, ../sass/components/_results.sass */
#results .item .not-primary {
  display: none;
}
/* line 34, ../sass/components/_results.sass */
#results .item .static-marker {
  position: absolute;
  left: inherit;
  top: inherit;
}
/* line 39, ../sass/components/_results.sass */
#results .item button.close {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 44, ../sass/components/_results.sass */
#results .item .summary {
  margin-left: 40px;
}
/* line 47, ../sass/components/_results.sass */
#results .item .summary .btn-directions {
  margin: 1em 0;
}
/* line 50, ../sass/components/_results.sass */
#results .item.active {
  background: #eef5fb;
}
/* line 53, ../sass/components/_results.sass */
#results .item.active .not-primary {
  display: block;
}

/* line 57, ../sass/components/_results.sass */
.fields .title {
  width: 6.5em;
  text-align: right;
  position: absolute;
  font-weight: bold;
}
/* line 63, ../sass/components/_results.sass */
.fields .value {
  margin-left: 7em;
  display: block;
  margin-bottom: 0.2em;
}

/* line 2, ../sass/components/_style.sass */
body,
input,
button,
select,
textarea {
  font-family: "open-sans", Helvetica, "Droid Sans", sans-serif;
}

/* line 9, ../sass/components/_style.sass */
h1,
h2,
h3 {
  font-family: adelle, Baskerville, "Droid Serif", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2em;
}
/* line 16, ../sass/components/_style.sass */
h1 a,
h2 a,
h3 a {
  color: #333333;
}

/* line 19, ../sass/components/_style.sass */
h2 {
  color: #275387;
  font-size: 32px;
}

/* line 23, ../sass/components/_style.sass */
[class^="icon-"]:not(.icon-ok, .icon-home), [class*=" icon-"]:not(.icon-ok) {
  background-image: none;
}

/* line 26, ../sass/components/_style.sass */
.btn-normal,
.btn-dark,
#leaflet-control-geosearch-submit {
  height: 38px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #387cc0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #387cc0), color-stop(100%, #4b89c6));
  background-image: -webkit-linear-gradient(#387cc0, #4b89c6);
  background-image: -moz-linear-gradient(#387cc0, #4b89c6);
  background-image: -o-linear-gradient(#387cc0, #4b89c6);
  background-image: linear-gradient(#387cc0, #4b89c6);
  border: none;
  -webkit-box-shadow: #1f4066 0 1px 1px;
  -moz-box-shadow: #1f4066 0 1px 1px;
  box-shadow: #1f4066 0 1px 1px;
  color: white;
  text-shadow: none;
  font-weight: bold;
  outline: 0;
}
/* line 40, ../sass/components/_style.sass */
.btn-normal:focus, .btn-normal:hover, .btn-normal.active,
.btn-dark:focus,
.btn-dark:hover,
.btn-dark.active,
#leaflet-control-geosearch-submit:focus,
#leaflet-control-geosearch-submit:hover,
#leaflet-control-geosearch-submit.active {
  background-color: #4585c4;
  -webkit-box-shadow: #1f4066 2px -1px -1px;
  -moz-box-shadow: #1f4066 2px -1px -1px;
  box-shadow: #1f4066 2px -1px -1px;
  color: white;
  outline: 0;
}
/* line 48, ../sass/components/_style.sass */
.btn-normal.active,
.btn-dark.active,
#leaflet-control-geosearch-submit.active {
  background-color: #73a3d2;
}
/* line 51, ../sass/components/_style.sass */
.btn-normal i,
.btn-dark i,
#leaflet-control-geosearch-submit i {
  margin-top: 2px;
  margin-right: 5px;
  font-size: 16px;
}
/* line 56, ../sass/components/_style.sass */
.btn-normal.btn-search i,
.btn-dark.btn-search i,
#leaflet-control-geosearch-submit.btn-search i {
  margin-right: 0;
}
/* line 59, ../sass/components/_style.sass */
.btn-normal.btn-dark,
.btn-dark.btn-dark,
#leaflet-control-geosearch-submit.btn-dark {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f4066), color-stop(100%, #355375));
  background-image: -webkit-linear-gradient(#1f4066, #355375);
  background-image: -moz-linear-gradient(#1f4066, #355375);
  background-image: -o-linear-gradient(#1f4066, #355375);
  background-image: linear-gradient(#1f4066, #355375);
}
/* line 62, ../sass/components/_style.sass */
.btn-normal.btn-dark:focus, .btn-normal.btn-dark:hover,
.btn-dark.btn-dark:focus,
.btn-dark.btn-dark:hover,
#leaflet-control-geosearch-submit.btn-dark:focus,
#leaflet-control-geosearch-submit.btn-dark:hover {
  background-color: #2e4d70;
}

/* line 67, ../sass/components/_style.sass */
input[type="text"] {
  height: 38px !important;
  border: 1px solid #f59630 !important;
  -webkit-box-shadow: inset 0 1px 4px #cccccc;
  -moz-box-shadow: inset 0 1px 4px #cccccc;
  box-shadow: inset 0 1px 4px #cccccc;
}
/* line 72, ../sass/components/_style.sass */
input[type="text"]:focus {
  -webkit-box-shadow: inset 0 1px 4px #cccccc;
  -moz-box-shadow: inset 0 1px 4px #cccccc;
  box-shadow: inset 0 1px 4px #cccccc;
}

/* line 75, ../sass/components/_style.sass */
label {
  font-weight: bold;
  margin-top: 1em;
  clear: left;
}

/* line 81, ../sass/components/_style.sass */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  @-moz-keyframes spin {
    /* line 44, ../sass/_mixins.sass */
    0% {
      -moz-transform: rotate(0deg);
    }

    /* line 46, ../sass/_mixins.sass */
    100% {
      -moz-transform: rotate(359deg);
    }
}

  @-webkit-keyframes spin {
    /* line 50, ../sass/_mixins.sass */
    0% {
      -webkit-transform: rotate(0deg);
    }

    /* line 52, ../sass/_mixins.sass */
    100% {
      -webkit-transform: rotate(359deg);
    }
}

  @-o-keyframes spin {
    /* line 56, ../sass/_mixins.sass */
    0% {
      -o-transform: rotate(0deg);
    }

    /* line 58, ../sass/_mixins.sass */
    100% {
      -o-transform: rotate(359deg);
    }
}

  @-ms-keyframes spin {
    /* line 62, ../sass/_mixins.sass */
    0% {
      -ms-transform: rotate(0deg);
    }

    /* line 64, ../sass/_mixins.sass */
    100% {
      -ms-transform: rotate(359deg);
    }
}

  @keyframes spin {
    /* line 68, ../sass/_mixins.sass */
    0% {
      transform: rotate(0deg);
    }

    /* line 70, ../sass/_mixins.sass */
    100% {
      transform: rotate(359deg);
    }
}

}

/* line 85, ../sass/components/_style.sass */
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #cccccc;
}

/* line 89, ../sass/components/_style.sass */
::-webkit-scrollbar {
  width: 10px;
  background-color: #cccccc;
}

/* line 93, ../sass/components/_style.sass */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #265288;
}

/* line 97, ../sass/components/_style.sass */
.attribution {
  font-size: 0.9em;
  margin: 2em 0 1em 45px;
  line-height: 1.5em;
}
/* line 102, ../sass/components/_style.sass */
.attribution .small {
  font-size: 0.9em;
}

/* No files to import found in includes/* */
