$black: #000
$white: #fff

$blue: #357AC7
$light-blue: #EEF5FB
$dark-blue: #265288

$green: #3cb878

$dark: #252525

$grey-light: #e5e9ed
$grey: #b7bdc2
$grey-dark: #424549

$link: $blue
$link-hover: darken($blue, 10%)

$font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif


// Marker colors
$marker-orange: #F59630
$marker-green: #72AE26
$marker-purple: #D252B9
$marker-red: #D53E2A
$marker-green: #72AF26
$marker-blue: #37A8DA
$marker-darkblue: #0066A3
$marker-cadetblue: #426877


$topnav-height: 40px

