@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cog, .icon-caret-right, .icon-caret-down, .icon-search, .icon-location, .icon-disability, .icon-other, .icon-access, .icon-mentalbehavioural, .icon-alltypes, .icon-generalhealth, .icon-dentaloral, .icon-spinner, .icon-directions {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-cog:before {
	content: "\f013";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-search:before {
	content: "\f002";
}
.icon-location:before {
	content: "\e000";
}
.icon-disability:before {
	content: "\e006";
}
.icon-other:before {
	content: "\e005";
}
.icon-access:before {
	content: "\e004";
}
.icon-mentalbehavioural:before {
	content: "\e003";
}
.icon-alltypes:before {
	content: "\e001";
}
.icon-generalhealth:before {
	content: "\e002";
}
.icon-dentaloral:before {
	content: "\e008";
}
.icon-spinner:before {
	content: "\e009";
}
.icon-directions:before {
	content: "\e007";
}
