#results
  padding: 5px

  .pagination
    text-align: center
    margin: 0

    .result-summary
      margin-bottom: .5em

  .result-summary
    color: #999
    font-size: .9em
    font-style: italic
    

  .item
    padding: 1em 5px
    margin-top: 10px
    position: relative

    h3
      a
        text-decoration: none

      span
        color: $grey
        +sans-serif
        font-size: .8em

    .not-primary
      display: none

    .static-marker
      position: absolute
      left: inherit
      top: inherit

    button.close
      position: absolute
      top: 5px
      right: 5px

    .summary
      margin-left: 40px

      .btn-directions
        margin: 1em 0

    &.active
      background: $blue-light

      .not-primary
        display: block

.fields
  .title
    width: 6.5em
    text-align: right
    position: absolute
    font-weight: bold

  .value
    margin-left: 7em
    display: block
    margin-bottom: .2em

