@media screen and (max-width:480px)
  .no-mobile
    display: none

  html
    font-family: "mobile"
    max-width: 100%
    overflow-x: hidden

    body:after
      content: "mobile"
      display: none

  html,
  body,
  .row-fluid,
  .main-content
    height: 100%
    padding: 0

  .row-fluid
    position: relative
    //overflow-x: hidden
    width: 100%

  .navbar .nav,
  #showFilters span
    display: none

  .main-content
    top: $topnav-height
    position: absolute
    width: 100%
    left: 0
    +transition(left, $trans-time)

    #map
      width: 100%
      height: 100%

      .leaflet-top.leaflet-center

        .leaflet-control-geosearch
          width: 96%
          input
            width: 64.4%
            float: left
            margin-right: 3%

        .leaflet-control-locate
          width: 72.7%


  .left-sidebar
    position: relative
    top: 100%
    height: 400px
    z-index: 100
    background-color: $white
    +transition(all, $trans-time)

  .right-sidebar
    right: -280px
    top: $topnav-height
    position: absolute
    width: 280px
    +transition(all, $trans-time)

  #showFilters
    position: absolute
    right: 25px

    i
      margin-right: 0


  .left-sidebar-active

    .left-sidebar
      top: 60%

    .main-content
      height: 60%


  .left-sidebar-big

    .left-sidebar
      top: 50%

    .main-content
      height: 50%


  .right-sidebar-active

    .main-content,
    .left-sidebar
      left: -280px

    .right-sidebar
      right: 0


  .overlay-active
    
    #map
      
      #about
        padding: 1em 1em

      .leaflet-top.leaflet-center
        margin-left: 1em
        margin-top: 9em
        width: 120%

