html,
body,
.row-fluid
  height: 100%


.row-fluid
  margin-top: $topnav-height 

.main-content
  height: 100%
  width: 100%


#map
  height: 100%
  width: 100%


#results
  padding-bottom: 50%
  
  .item

    .not-primary
      display: none

    .static-marker
      position: absolute
      left: inherit
      top: inherit

    .summary
      margin-left: 40px

    &.active
      background: $light-blue

      .not-primary
        display: block
    